@model Auction.Model.Message.ProductTypesResponse

@{
    ViewBag.Title = "Index";
}
<body style="background-color: white">
   
    <div style="
        display:inherit;
        position: absolute;
        top: 100px;
        left: 50px;
        width: auto;
        height: auto;
        margin: auto;">
       
        <h2 style="font-size: x-large; color: forestgreen"> Auction Categories </h2> 
        <br />

            <table>
               
                @if (Model.ProductTypes.Count != 0)
                {
                    for (int i = 0; i < Model.ProductTypes.Count; i++)
                    {
                        var Name = Model.ProductTypes[i].ProductType;
                        <tr style="color:black">
                            <td style="font-size:large"> @Html.ActionLink(Name, "GetProducts", "Product", new { productTypeId = Model.ProductTypes[i].ProductTypeId }, null) </td>

                        </tr>
                    }
                }

                else {
                    <tr>
                        <td> There are no Categories </td>
                    </tr>
                }
               
            </table>
           





    </div>
</body>